@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./scroll.css');


img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
p {
  line-height: 160%;
}
a {
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
button {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: none transparent;
  color: inherit;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font: inherit;
  line-height: normal;
  user-select: none;
  cursor: pointer;
}
button:focus{
  outline: none;
}
input, textarea {
  border: none;
}
